*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
.add, .logout, .login, .edits, .back, .delete,.yesdelete, .notdelete{
    font-size: 17px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 10px auto 10px;
    background-color: green;
    padding: 10px 2px;
    color: white;
    width: 200px;
    border-radius: 5px;
    border: none;
}
.delete,.yesdelete, .notdelete{
    background-color: red;
}
.slist{
    text-align: center;
    margin: 100px  0 20px 0;
    font-size: 50px;
}
table{
    width: 80%;
    margin: 0 auto 50px;
    border-collapse: collapse;
}
th{
    font-size: 20px;
}
td{
    font-size: 15px;
}
th,td{
    border: .1px solid black;
    padding: 10px;
    text-align: left;
}
tr:nth-child(even){
    background-color: wheat;
}

/* Add */

form .flex {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto 0;
}
input{
    padding: 10px;
    margin-bottom: 20px;
}
.sform, .lform, .fdetails{
    text-align: center;
    margin: 100px  0 50px 0;
    font-size: 50px;
}
.submit {
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px 2px;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}
.bindex {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
 /* details */

.details {
    text-decoration: none;
    color: black;
}
select {
    width: 70px;
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
}
.flex_container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.detail_flex {
    display: flex;
    width: 430px;
    justify-content: space-between;
}
.sbd {
    cursor: pointer;
}
/* SEARCH */
 /* search */

.search{
    border-radius: 5px;
    height: 100%;
    border: .1px solid black;
}
 /* login */

.log{
    width: 220px;
}
 /* edit */

.edit {
    margin: 0;
    border: none;
}
.searching {
    height: 40px;
}
.form-flex{
    display: flex;
    height: 100%;
    width: 62%;
    justify-content: space-between;
}

/* login error messsage */

.error {
    color: red;
}

/* #error-message-invalid{
    visibility: hidden;
} */
/* .alert{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
} */

/* login invalid */

/* #invalid-error {
    visibility: hidden;
} */
/* @keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  } */